bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified"
>
  <xs:element name="bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name='transaction' maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="user" type="xs:string" />
                    <xs:element name="date" type="xs:date" />
                    <xs:element name='type'>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="withdraw" />
                          <xs:enumeration value="deposit" />
                          <xs:enumeration value="view" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="amount" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
