retail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">
  <xs:element name="retail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="store">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="sections">
                <xs:complexType>
                  <xs:all>
                    <xs:element name='meat' minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="products">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name='product' maxOccurs="unbounded">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="beef" />
                                      <xs:enumeration value="pork" />
                                      <xs:enumeration value="chicken" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name='vegetable' minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="products">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name='product' maxOccurs="unbounded">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="eggplant" />
                                      <xs:enumeration value="cabbage" />
                                      <xs:enumeration value="celery" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
