university.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com/university"
  xmlns="https://www.example.com/university"
  elementFormDefault="qualified">
  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="departments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name='department' maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="students">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="student" type='xs:string' maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
